<%- include('./partials/header') %>
   
            <div class="h-[85vh] w-full flex">
  <div class="w-[70%]">
    <main class="h-[100%] bg-white p-8 shadow ml-4">
        <a class="text-blue-400" href="/ownerProfile">Go to Profile</a>
        <h2 class="text-xl font-bold mt-[15px] mb-4">Update Profile</h2>
        <form autocomplete="off" action="/ownerProfile/update/<%=owner._id%>" method="post" enctype="multipart/form-data">
            <div class="mb-6">
                <h3 class="text-lg font-semibold mb-2">Your Details</h3>
                <div class="mb-4">
                    <label class="block mb-2 font-medium">Your Image</label>
                    <input name="image" type="file" class="py-2 px-4 rounded" value="Select File">
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <input name="name" type="text" placeholder="Name"
                        class="border p-2 rounded w-full" value="<%=owner.name%>">
                    <input type="number" placeholder="Age" name="age" class="border p-2 rounded w-full" value="<%=owner.age%>">
                    <input name="address" type="text" placeholder="address"
                        class="border p-2 rounded w-full" value="<%=owner.address%>">
                        <input type="text" placeholder="Contact" name="contact" class="border p-2 rounded w-full" value="<%=owner.contact%>">
                    <input name="email" type="email" placeholder="Email"
                        class="border p-2 rounded w-full" value="<%=owner.email%>">

                        <input type="number" name="gstin" placeholder="Gstin Number" class="border p-2 rounded w-full" value="<%=owner.gstin%>">
                    
                </div>
            </div>
            <input class="px-5 py-2 rounded mt-3 bg-blue-500 text-white" type="submit"
                value="Update Profile">
        </form>
    </main>
</div>
            </div>
            
            <%- include('./partials/footer') %>